[submodule "rmcs_flight/src/livox_ros_driver2"]
	path = rmcs_flight/src/livox_ros_driver2
	url = https://github.com/Alliance-Algorithm/livox_ros_driver2.git
[submodule "rmcs_flight/src/rmcs_slam"]
	path = rmcs_flight/src/rmcs_slam
	url = https://github.com/Alliance-Algorithm/rmcs_slam.git
